# Homework 1

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz')

In [14]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21,2018-12-21,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01,2019-01-01,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01,2019-01-01,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01,2019-01-01,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01,2019-01-01,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [10]:
df.shape

(630918, 20)

In [11]:
df.lpep_pickup_datetime = df.lpep_pickup_datetime.apply(lambda x: x[:10])
df.lpep_dropoff_datetime = df.lpep_dropoff_datetime.apply(lambda x: x[:10])

In [13]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

## Question 3. Count records

In [21]:
df[(df.lpep_pickup_datetime == "2019-01-15") & (df.lpep_dropoff_datetime == "2019-01-15")].shape

(20530, 20)

## Question 4. Largest trip for each day

In [31]:
df[df.trip_distance == df.trip_distance.max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
297377,2,2019-01-15,2019-01-15,N,1,221,265,1,117.99,323.0,1.0,0.5,0.0,10.5,NaN,0.3,339.2,2,1,NaN

## Question 5. The number of passengers

In [28]:
df[df.lpep_pickup_datetime == "2019-01-01"].passenger_count.value_counts()

1    12415
2     1282
5      616
6      273
3      254
4      129
0       21
Name: passenger_count, dtype: int64

## Question 6. Largest tip

In [32]:
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [33]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [34]:
df_zone[df_zone.Zone == "Astoria"]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [38]:
df_pickup = df[df.PULocationID == 7]
df_pickup.shape

(26046, 20)

In [39]:
df_merge = df_pickup.merge(df_zone, how="left", left_on="DOLocationID", right_on="LocationID")
df_merge.shape

(26046, 24)

In [43]:
df_merge[df_merge.tip_amount == df_merge.tip_amount.max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,LocationID,Borough,Zone,service_zone
21212,2,2019-01-26,2019-01-26,N,1,7,146,1,0.92,5.5,...,NaN,0.3,94.8,1,1,NaN,146,Queens,Long Island City/Queens Plaza,Boro Zone