In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

## Conection

In [4]:
# db://user:password@hostname:port/db_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

In [ ]:
# Creamos la tabla con los nombres de las columnas
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [ ]:
#df.to_csv('yellow_tripdata_2022-01.csv', index=False)

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.info()

In [ ]:
# Imputamos la data 
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

### Agregamos los datos a la tabla por chunks

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' %(t_end - t_start))

## Homework

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
# db://user:password@hostname:port/db_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

In [ ]:
# Creamos la tabla con los nombres de las columnas
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

In [ ]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' %(t_end - t_start))

## Zones to Postgres

In [5]:
# db://user:password@hostname:port/db_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
# Creamos la tabla
df_zones.to_sql(name="zones", con=engine, if_exists="replace")