In [12]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

## Conection

In [4]:
# db://user:password@hostname:port/db_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [6]:
# Creamos la tabla con los nombres de las columnas
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [ ]:
#df.to_csv('yellow_tripdata_2022-01.csv', index=False)

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [8]:
df = next(df_iter)

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  float64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  float64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
 18  airport_fee            100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [11]:
# Imputamos la data 
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 5.14 s, sys: 111 ms, total: 5.25 s
Wall time: 12.9 s

#### Agregamos los datos a la tabla por chunks

In [13]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' %(t_end - t_start))

inserted another chunk..., took 13.369 second
inserted another chunk..., took 12.511 second
inserted another chunk..., took 12.767 second
inserted another chunk..., took 12.912 second
inserted another chunk..., took 13.548 second
inserted another chunk..., took 15.072 second
inserted another chunk..., took 17.888 second
inserted another chunk..., took 14.137 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 13.869 second
inserted another chunk..., took 17.710 second
inserted another chunk..., took 14.851 second
inserted another chunk..., took 13.872 second
inserted another chunk..., took 14.121 second
inserted another chunk..., took 19.606 second
inserted another chunk..., took 16.255 second
inserted another chunk..., took 15.911 second
inserted another chunk..., took 19.765 second
inserted another chunk..., took 29.013 second
inserted another chunk..., took 14.180 second
inserted another chunk..., took 18.555 second
inserted another chunk..., took 20.234 second

/Users/aguyanzon/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3309: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if await self.run_code(code, result, async_=asy):

inserted another chunk..., took 14.375 second
inserted another chunk..., took 8.259 second

StopIteration:

In [14]:
df.shape

(63931, 19)